@import url('https://fonts.googleapis.com/css?family=Montserrat');

  * {
    font-family: 'Montserrat', sans-serif;  
    text-decoration: none;
    color: #eee;  
    margin: 0 auto;
    max-width: 1960px;
    }
  /*Navigation Menu*/
  .nav_bar {
    width: auto;
    background-color: #1d1d1d;
    padding: 37px;
    display: block;
  }
  .nav_bar_left {
    display: block;
    float: left;
  }
  .nav_bar_right {
    float: right;
  }
 
  ul {
    display: inline-block;
    list-style-type:  none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  li {
    float: left;
  }

  .link {
    display: inline;
    text-decoration: none;
    text-align: justify;
    padding: 14px 12px;
    color: #ffffff;
  }

  /*Search Area*/
  .text-field {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 5%;
  }
  .search {
    width: 50%;
    height: 3.8em;
    text-align: center;
    font-size: 16px;
    color: #333;
    border-radius: 12px;
    border: 1px #333 solid;
    outline: none;

  }
  .search_area {
   padding: 15px;
   margin-top: 20px;
  }

  .btn {
    background: #1d1d1d;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 12px;
    width: 12%;
    cursor: pointer;
    height: 6%;
    border: none;
    text-decoration: none;
    outline-style: none;
    text-align: center;
    font-size: 14px;
  }

  .no-result {
    color: #333;
    text-align: center;
    margin-top: 20px;
  }

  /* Movie List */
  .card {
    margin: 12px;
    padding: 12px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    background-color: transparent;
  }
  .movie {
    cursor: pointer;
    border-radius: 4px; 
    padding: 20px;
    background-color: transparent;
    margin: 20px;
    transition: opacity 0.5s ease, transform 0.5s ease-in;
  }
  .movie:hover{
  	transform: scale(1.05);
  }

  .movie__poster:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);  	
  }

  .movie-title {
    color: #222;
    margin-top: 12px; 
  }
  .movie-date {
    font-size: 11px;
    color: #333;
    font-style: italic;
    margin-top: 7px;
  }
   .text-title {
    color: #000;
    text-align: center;
    margin-top: 2rem;
  }
  .svg {
    fill: #fff;
    stroke: #95989a;
    height: 30px;
  }


  /* Media Queries */
  @media all and (max-width: 1690px){
    body {
      max-width: 2100px;
    }
    
  }

  @media all and (max-width:640px){
    body {
      max-width: 960px;
    }
  }

/*page transistion*/
.pop-enter-active, .pop-leave-active {
  transition-property: opacity;
  transition-duration: 0.4s;
}
.pop-enter-active {
  transition-delay: 0.1s;
}
.pop-enter, .pop-leave-active {
  opacity: 0
}