  @import url('https://fonts.googleapis.com/css?family=Montserrat');

  * {
    font-family: 'Montserrat', sans-serif;  
    text-decoration: none;
    color: #fff;  
    margin: 0;
    max-width: 1960px;
    }
  
  /*Navigation Menu*/
  .nav_bar {
    width: auto;
    background-color: #1D1D1D;
    padding: 30px 40px;
    display: block;
  }
  .nav_bar_left {
    display: block;
    float: left;
  }
  .nav_bar_right {
    float: right;
  }
 
  ul {
    display: inline-block;
    list-style-type:  none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  li {
    float: left;
  }

  .link {
    display: inline;
    text-decoration: none;
    text-align: justify;
    padding: 14px 12px;
    color: #ffffff;
  }

  /*Search Area*/
  .search {
    width: 40%;
    height: 4em;
    text-align: center;
    font-size: 14px;
    color: #333;
    position: absolute;
    top: 40%;
    left: 30%;
    outline-color: green;

  }
  .search_area {
    position: absolute;
    top: 53%;
    left: 44%;
  }

  .btn {
    background: #333;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 12px;
    width: 12%;
    cursor: pointer;
    height: 6%;
    border: none;
    text-decoration: none;
    outline-style: none;
    text-align: center;
    font-size: 14px;
  }

  
  .result {
    margin-top: 30%;
  }
  .card {
    margin: 20px;
    padding: 12px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .movie {
    cursor: pointer;
    /* border-radius: 4px;  */
    /* border: 2px #333 solid; */
    padding: 20px;
    margin: 20px;
  }

  .poster{
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    transform: translateZ(0);
    background: #ffffff;
  }

  .img {
    width: 100%;
    opacity: 0;
    transform: scale(0.97) translateZ(0);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }